# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.sqlite3

# Alembic
alembic/versions/*.pyc

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
env/
ENV/

# Docker
*.pid
*.db
*.tar
*.bak

# Secrets
client_secret_*.json